<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-order-heading"
        data-cy="OrderCreateUpdateHeading"
        jhiTranslate="provaProgettoApp.provaProgettoOrder.home.createOrEditLabel"
      >
        Genera o modifica un Order
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="provaProgettoApp.provaProgettoOrder.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let orderDateRef = editForm.get('orderDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_orderDate" jhiTranslate="provaProgettoApp.provaProgettoOrder.orderDate">Order Date</label>
          <div class="input-group">
            <input
              id="field_orderDate"
              data-cy="orderDate"
              type="text"
              class="form-control"
              name="orderDate"
              ngbDatepicker
              #orderDateDp="ngbDatepicker"
              formControlName="orderDate"
            />
            <button type="button" class="btn btn-secondary" (click)="orderDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (orderDateRef.invalid && (orderDateRef.dirty || orderDateRef.touched)) {
            <div>
              @if (editForm.get('orderDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Questo campo è obbligatorio.</small>
              }
            </div>
          }
        </div>

        @let totalAmountRef = editForm.get('totalAmount')!;
        <div class="mb-3">
          <label class="form-label" for="field_totalAmount" jhiTranslate="provaProgettoApp.provaProgettoOrder.totalAmount"
            >Total Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="totalAmount"
            id="field_totalAmount"
            data-cy="totalAmount"
            formControlName="totalAmount"
          />
          @if (totalAmountRef.invalid && (totalAmountRef.dirty || totalAmountRef.touched)) {
            <div>
              @if (editForm.get('totalAmount')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Questo campo è obbligatorio.</small>
              }
              @if (editForm.get('totalAmount')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Questo campo dovrebbe essere più di 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('totalAmount')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Questo campo dovrebbe essere un numero.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customer" jhiTranslate="provaProgettoApp.provaProgettoOrder.customer">Customer</label>
          <select
            class="form-control"
            id="field_customer"
            data-cy="customer"
            name="customer"
            formControlName="customer"
            [compareWith]="compareCustomer"
          >
            <option [ngValue]="null"></option>
            @for (customerOption of customersSharedCollection; track $index) {
              <option [ngValue]="customerOption">{{ customerOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annulla</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salva</span>
        </button>
      </div>
    </form>
  </div>
</div>
